@model IEnumerable<Bookshelf.Models.UserAuthorReportViewModel>

@{
    ViewData["Title"] = "UserAuthorReport";
}

<h1>UserAuthorReport</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorCount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
